/*font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/

/*font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
/**/
/*h1 = film folks header*/
h1 {
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
  color: white;
  font-size: 32px;
  text-align: center;
  padding: 20px;
  border-bottom: solid #A840AE;
  border-width: 1px;
  background-color: #66296A;
}

#intro {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  padding: 20px 20px 15px 20px;
  background-color: #262626;
  border-bottom: solid white;
  border-width: 1px;
}

h2{
  color: white;
  font-size: 20px;
  text-align: center;
  padding-bottom: 13px;
}
/*actually a div class that includes month/link/info of all festivals*/
.month{
  color: white;
  padding: 20px 20px 0 20px;
  background-color: #262626;
  border-bottom: solid white;
  border-width: 1px;
}
/*just the month header itself*/
h3{
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
  font-size: 21px;
  text-decoration: underline;
  text-transform: uppercase;
}

.festival{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 21px;
}

a{
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: black;
  padding: 4px;
  padding-bottom: 0px;
  margin-bottom: 4px;
  display: inline-block;
}