
body {
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 70%;
  font-weight: 900;
  margin: 5px;
}

div {
}

img {
  float: left;
}

.icon_text {
  position: relative;
  top: 5px;
  margin-left: 5px;
}


.clear {
  clear: both;
}