.icon_text{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  padding-top: 8px;
  display: inline-block;
}

img{
  float: left;
  padding: 5px;
}