/*font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/

h1 {
    color: white;
    text-align: center;
    padding: 27px;
    border-bottom: solid #A840AE;
    border-width: 1px;
    background-color: #66296A;
}

#intro {
  color: white;
  padding: 20px;
  background-color: #262626;
  border-bottom: solid white;
  border-width: 1px;
}

h2{
  color: white;
  text-align: center;
  padding-bottom: 13px;
}
/*actually a div class that includes month/link/info of all festivals*/
.month{
  color: white;
  padding: 20px;
  background-color: #262626;
}
/*just the month header itself*/
h3{
  text-decoration: underline;
  text-transform: uppercase;
}

.festival{
  padding-top: 5px
}

a{
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  background-color: black;
  padding: 2px;
  margin-bottom: 2px;
  display: inline-block;
}