h1 {
  color: #FFFFFF;
  background-color: #0787EF;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px 20px 20px 20px;
  margin: 20px 20px 0px 20px;
}

p {
  color: #6A6A6A;
  background-color: #D8D8D8;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 20px 20px 20px 20px;
  margin: 0px 20px 20px 20px;
}