/* Actual font is unknown. Use any from past assignments. */
/*everything is in a box*/
.box{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  background-color: white;
  padding: 3px 9px 4px 0px;
  margin: 6px 7px 0px 5px;
  text-align: left;
  width: 134px;
  /* float: left; */
  display: inline-block;
  border-right: solid 1px #C1C1C1;
}
/*header for boxes*/
h4 {
  font-size: 16px;
  letter-spacing: -1.25px;
  font-weight: 500;
  padding-bottom: 4px;
}
/*content of box*/
.blurb{
  font-size: 11px;
  line-height: 1.4;
}