body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.box {
  float: left;
  width: 26%;
  margin: 10px;
  padding-right: 10px;
  border-right: 1px solid #CCCCCC;
}

.box h4 {
  font-weight: 500;
  padding-bottom: 5px ;
}

.blurb {
  font-size: 70%;
  line-height: 1.5em;
}

.clear {
  clear: both;
}

