/*font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/


body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
}

h1{
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
  background: #83247D;
  padding: 20px ;
  font-size: 189%;
  text-align: center;
  border-bottom: 1px solid #C535BD;
}

#intro {
  background: #333333;
  border-bottom: 1px solid white;
  padding-bottom: 19px;
}

#intro h2 {
  text-align: center;
  font-size: 125%;
  padding-top: 20px;
  padding-bottom: 10px;
}

#intro p {
  margin-left: 20px;
}

.month {
  background: #333333;
  border-bottom: 1px solid white;
  padding-top: 20px;
    padding-bottom: 25px;

}

.month h3 {
  margin-left: 20px;
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
  font-size: 135%;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
  padding-bottom: 3px;
}

.festival {
  font-weight:300;
  background: #333333;
  margin-left: 20px;
  font-size: 90%;
  padding-top: 10px;
  margin-right: 20px;
}

.festival a {
  display: block;
  background: black;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 110%;
  padding: 5px;
}

.details {
  display: inline-block;
  color: black;
}

.location {
  
  background: white;
  font-weight: 500;
}

.dates {
  
  background: #CCCCCC;
}