/* Guess the font. Just get close--doesn't have to be perfect. */
body {
  max-width: 970px;
}

.header {
  width: 970px;
  display: inline-block;

}

.settings {
  float: right;
  margin-left: 15px;
  margin-top: 10px;
}
.button_container {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 15px 7px 0px 10px;
  float: right;

}

.button {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 8pt;
  background-color: #6288A5;
  padding: 10px 8px 10px 8px;
  border-radius: 4px;
  font-weight: 900;
  letter-spacing: 0px;
}

.nav_left {
  margin: 15px 6px 0px 10px;
  display: inline-block;
}

.nav_left img {
  float: left;
}
.nav_left span {
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 8pt;
  padding-left: 5px;
  font-weight: 600;

}

.main_heading {
  width: 970px;
  margin-top: 10px;
  border-top: 1px solid #e2e2e2;
  border-bottom: 2px solid #000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(0, 0, 0);
  position: relative;
  min-height: 90px;
  padding: 8px 0;
  }

.top_right_ad {
  float: right;
}

.top_left_ad {
  float: left;
}

.main_heading_center {
  text-align: center;
  display: inline-block;
  width: 60%;
  }

.editions li {
  left: 50%;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
  font-size: 0.625rem;
  text-transform: uppercase;
  display: inline-block;
  line-height: 0.625rem;
  font-weight: 400;
  font-style: normal;
}

.editions li a {
    color: #6f6f6f;
    text-decoration: none;
}

.editions li a#spanish {
  lang: "ES";
}

.editions li:first-child {
  font-weight: 900;
}

.editions {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid #e2e2e2;
    border-bottom: none;
    height: 11px;
    padding: 4px 9px 0;
    background-color: #fff;
    position: absolute;
    border-bottom: none;
    height: 11px;
    padding: 4px 9px 0;
    background-color: #fff;
    top: -16px;
    left: 50%;
    margin-left: -103px;
}
















