/* Guess the font. Just get close--doesn't have to be perfect. */
/*Font-Family: Times New Roman, Times*/
/*Font-Family: font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/

.left_column {
  float:left;
  max-width: 190px;
  margin-right: 5px;

}

.right_column {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: gray;
  padding-left: 5px;
  max-width: 195px;
  margin-left: 195px;
}
.article {

  padding-left: 10px;
  padding-bottom: 15px;
}


.section_header {
  font-family: "Times New Roman", Times;
  color: black; 
  font-weight: bolder;
  font-size: 16px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top-width: 1px;
  border-top-color: gray;


}

.article_headline {
  font-family: "Times New Roman", Times;
  color: black;
  font-weight: bold;
  font-size: 15px;
  text-align: left;
  padding-bottom: 2px;

}

.byline {
  color: gray;
  font-size: 12px;
  padding-bottom: 2px;
  padding-top: 2px;


}

.article_teaser {
  font-size: 15px;
  font-weight: normal;
  line-height: 110%;
  color: black;

}

.editorial_links {
  font-family: "Times New Roman", Times;
  color: black;
  font-weight: bold;
  font-size: 11px;
  text-align: left;
  padding-bottom: 2px;
  padding-left: 10px;

}

a:link {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {

   
    
    
    padding-bottom: 5px;
}

li {
  color: black;
  padding-bottom: 5px;
  font-size: 13px;
  list-style-type: disc;
}

img {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: gray;
  padding-left: 5px;
  max-width: 195px;
  margin-left: 0px;
}

p {
  font-size: 12px;
  font-family: "Times New Roman", Times;


}
.footer {
  
  max-width: 195px;
  margin-right: 5px;
  margin_top: 10px;
  padding-top: 10px;
  border-top: 5px;

}

#second {
  padding-left: 0px;
  padding-bottom: 10px;

}

#footer_left {
  float:left;
  margin-left: 5px;
  max-width: 190px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: gray;
}

#footer_right {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: gray;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: gray;
  padding-left: 5px;
  margin-top: 13px;
  max-width: 195px;
  margin-left: 195px;
}